/* ///////////////////////////////////////////////// DIV PRINCIPAL /////////////////////////////////////////////// */
.birthdays {
    width: 100%;
    height: 100%;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////// IMAGEM DO BOLO //////////////////////////////////////////////// */

.birthdays .img-cake {
    width: 100%;
    height: 500px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.birthdays .img-cake div {
    width: 500px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.birthdays .img-cake div img {
   width: 100%;
   height: 100%;
   min-height: 250px;

   position: absolute;

   transition: 1s;
}

/* ///  /// */
.birthdays .img-cake div img:hover {
    height: calc(100% + 10px);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////// LISTA DE ANIVERSÃRIOS ///////////////////////////////////////////// */

.birthdays .list {
    width: 100%;
}

.birthdays .list .birthday-list {
    width: 100%;

    border-spacing: 0px;

    box-shadow: inset 0px 4px 3px -2px rgba(0,0,0,.06);
}

.birthdays .list .birthday-list thead tr th {
    background-color: #f9f9f97d;
}

.birthdays .list .birthday-list thead tr th, .birthdays .list .birthday-list td {
    padding: 15px;
    border: 1px solid #00000025;
}

.birthdays .list .birthday-list .main-list {
    width: 100%;
}

.birthdays .list .birthday-list .main-list {
    width: 100%;

    border-spacing: 0px;
}

.birthdays .list .birthday-list .main-list tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.041);
}

.birthdays .list .birthday-list .main-list tr td {
    padding: 10px;

    border: 1px solid #00000025;

    box-shadow: inset 0px 4px 3px -2px rgba(0,0,0,.06);
}

.birthdays .list .birthday-list .main-list tr td:first-child {
    width: 10%;

    font-size: 1.5rem;
    text-align: center;
}

.birthdays .list .birthday-list .main-list tr td:not(:first-child) {
    width: 90%;

    font-size: 1.5rem;
    text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1024px) {
    
    .list-users {
        padding: 0px 20px;
    }

    .birthdays .img-cake {
        height: 300px;
    }

    .birthdays .img-cake > div {
        width: 300px;
    }

}

@media (max-width: 426px) {

    .birthdays .img-cake {
        height: 200px;
    }

    .birthdays .img-cake > div {
        width: 200px;
    }

    .birthdays .img-cake div img {
        min-height: 0;
    }

}